header {
    padding-top: 50px;
    background-color: #989e8e;
    padding-bottom: 20px;
}

body {
    background-color: #DADED4 !important;
    padding-top: 85px;
    font-family: 'Times New Roman', serif;
}

footer {
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 16px;
    color: #3C403D;
    line-height: 1.5; 
}

.container {
    margin: 0 auto !important;
}

.hasError {
    color: red;
}